global
    log /dev/log    local0
    log /dev/log    local1 notice

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend tcp_frontend
    bind *:80
    mode tcp
    default_backend nginx_servers

backend nginx_servers
    mode tcp
    balance roundrobin
    server nginx-1 nginx-1:80 check
    server nginx-2 nginx-2:80 check

